################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/RPGProject

# Runtime save-state artifacts
/saves/
/source/saves/
*.tmp
*.bak
/CppProperties.json
/.vs/Sp26-DS-A-RPG-Game.slnx
/.vs/Sp26-DS-A-RPG-Game/CopilotIndices
