################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/RPGProject

# Runtime save-state artifacts
/saves/
/source/saves/
*.tmp
*.bak
